.navi {
    justify-content: center;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    padding:1em;
  }

.links {
    padding:1em 1.5em;
    background-color: grey;
    color: white;
    font-weight: bold;
}

.links:hover {
    text-decoration: underline;
}