.main {
  padding: 2vw;
  max-width: 80vw;
  margin: auto;
}

.content {
  padding: 0 2vw;
  font-size: 18px;
}

.content img {
  width: 250px;
  float:left;
}

.content div {
  overflow: hidden;
  padding-left:1em;
}