.main {
  padding: 2vw;
}

.content {
  padding: 0 2vw;
  font-size: 18px;
  white-space: pre-line;  
}

.content img {
  max-width: 90vw;
  max-height: 90vw;
  display: block;
  margin: auto;
  object-fit: contain;
}

@media only screen and (min-width: 550px) {.content img {
  max-width: 40vw;
  max-height: 40vw;
  float:left;
}}

.content section {
  overflow: hidden;
  padding-left:1em;
}

.content span {
  font-size: larger;
}

.content select {
  padding: 2px;
  width: 100%;
  
}

.content aside {
  padding-top: 40px;
  clear: both;
}

.content button {
  background-color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 0px;
  font-weight: bold;
  margin-right: 20px;
}

.content button[data-headlessui-state~=selected] {
  border-top: blue 2px solid;
}

.content button[disabled] {
  display: none;
}

.content table {
  width: 100%;
}

.content td {
  padding: 5px;
  text-align: center;
}