.main {
  padding: 2vw;
}

.content main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10em);
  gap: 20px;
  justify-content: space-evenly;
}

.content img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.content p {
  margin: 0px;
  top: -28px;
  position: relative;
}

.content span {
  top: -28px;
  position: relative;
}

.content button {
  width: 100%;
  top:0px;
  position: relative;
  height: 2em;
  margin: 0px;
  opacity: 0%;
  border:none;
  background-color: white;
  transition-duration: 0.2s;
}

.content section:hover > button {
  top: -28px;
  opacity: 100%;
}

/* .content div {
  position: fixed;
  background-color: grey;
  margin: auto;
}*/ 