.main {
    padding: 2vw;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .content {
    padding: 0 2vw;
    font-size: 18px;
  }
  
  @media only screen and (min-width: 768px) {.content div {
    overflow:hidden;
  }}

  .content div {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10em);
    grid-template-rows: 15em;
  }
  
  .content img {
    height: 70%;
    width: 100%;
  }